

html {
  box-sizing: border-box;
  font-family: "Righteous", "Helvetica Neue", Arial, sans-serif;
}

/*
========================
Clearfix
========================
 */

.clearfix:before, .container:before, .header .navbar:before,
.header .image:before,
.header .motto-bar:before, .main-container .products-container:before,
.main-container .product:before,
.main-container .pagination:before, .footer .shop-title:before,
.footer .contact:before, html:before,
body:before,
.container:before,
.header:before,
.main-container:before,
.footer:before,
.clearfix:after,
.container:after,
.header .navbar:after,
.header .image:after,
.header .motto-bar:after,
.main-container .products-container:after,
.main-container .product:after,
.main-container .pagination:after,
.footer .contact:after,
html:after,
body:after,
.container:after,
.header:after,
.main-container:after,
.footer:after {
  display: table;
  content: ''; }

.clearfix:after, .container:after, .header .navbar:after,
.header .image:after,
.header .motto-bar:after, .main-container .products-container:after,
.main-container .product:after,
.main-container .pagination:after,
.footer .contact:after, html:after,
body:after,
.container:after,
.header:after,
.main-container:after,
.footer:after {
  clear: both; }

.container, .header .navbar,
.header .image,
.header .motto-bar, .products-container,
.main-container .product,
.main-container .pagination,
.footer .contact, html,
body,
.container,
.header,
.main-container,
.footer {
  width: 100%; }

/*
========================
Main Styles
========================
 */

header,
body,
.main-container,
footer {
  width: 100%;
}

a,
a:hover {
  text-decoration: none;
  color: #000;
}


/*
========================
Header
========================
 */

.navbar {
  width: 100%;
  height: 90px;
  background-color: #999;
}

.navbar h2 {
  font-size: 38px;
  display: inline-block;
  font-weight: bold;
  line-height: 60px;
  font-family: "Righteous", "Helvetica Neue", Arial, sans-serif;
  border-top: 3px solid #F6B26B;
  margin-left: 40px;
}

.cart {
  display: inline-block;
  float: right;
  margin-top: -45px;
  margin-right: 120px;
  width: 150px;
  background: #F6B26B url("./assets/icon_empty_cart.png") 15px 50% no-repeat;
  background-size: 30px 30px;
  border: 2px solid #F6B26B;
  border-radius: 30px;
  color: #fff;
  font-family: "Righteous", Helvetica, Arial, sans-serif;
}


.cart a {
  line-height: 50px;
  font-weight: bold;
  vertical-align: center;
  float: right;
  padding-right: 25px;
  display: inline-block;
}

header .image {
  background: url("./assets/viking_ship_background_medium.jpg") 0 50% no-repeat;
  background-size: 100% 950px;
  height: 942px;
  border-top: 3px solid #F6B26B;
  border-bottom: 3px solid #F6B26B;
}

.store-name {
  font-size: 180px;
  font-weight: bold;
  line-height: 300px;
  font-family: "Righteous", "Helvetica Neue", Arial, sans-serif;
  display: inline-block;
  width: 100%;
  margin-top: 100px;
  text-align: center;
  text-shadow: 3px 6px 2px rgba(0, 0, 0, .3);
  color: #333;
}

.motto-bar {
  display: block;
  width: 100%;
  height: 173px;
  background-color: #333;
}

.motto {
  color: #fff;
  display: block;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  font-family: "Righteous", "Helvetica Neue", Arial, sans-serif;
}

.tagline {
  display: block;
  width: 100%;
  height: 70px;
  font-size: 26px;
  text-align: center;
  font-family: "Righteous", "Helvetica Neue", Arial, sans-serif;
  border-bottom: 3px solid #999;
  background: #fff;
}

.tagline h3 {
  line-height: 70px;
}


/*
========================
Products
========================
 */

.products-container {
  width: 60%;
  margin: auto;
  padding-top: 30px;

}

.product {
  display: inline-block;
  width: 33.33%;
  max-width: 300px;
  height: 383px;
  margin: 30px;
  border: 1px solid #444;
  font-family: "Righteous", "Helvetica Neue", Arial, sans-serif;
}

.product h3 {
  width: 100%;
  color: #fff;
  background-color: #333;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 0;
  text-align: center;
}

.cart-button {
  width: 100%;
  background-color: #333;
  text-transform: uppercase;
  padding: 10px 0;
  text-align: center;
}

button {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #bbb;
  background-color: #F6B26B;

}

.product .image {
  background: #ddd;
  width: 100%;
  height: 300px;
}

.product .image img {
  max-width: 280px;
  max-height: 250px;
  width: 90%;
  margin: auto;
  display: block;
  border: .5px solid #333;
}

.product .price {
  font-size: 22px;
  padding: 5px 10px;
  background-color: #F2D059;
  width: 30%;
  float: right;
  text-align: center;
  border: 1px solid #000;
  position: relative;
  bottom: 40px;
  left: 30px;
  transform: rotate(25deg);
}




/*
========================
Pagination
========================
 */

.pagination {
  display: block;
  width: 100%;

}

.pagination ul {
  width: 100%;
  margin-top: 40px;
  text-align: center;
}

.pagination ul li {
  display: inline;
  font-size: 24px;
  font-family: "Righteous", "Helvetica Neue", Arial, sans-serif;
  padding: 5px;
}

.pagination a {
  color: blue;
  text-decoration: underline;
}

.current-page {
  color: black;
  text-decoration: none;
}


/*
========================
Footer
========================
 */

.footer {
  display: block;
  margin-top: 100px;
  border-top: 3px solid #F6B26B;
  background-color: #333;
  padding-top: 15px;
}

.contact {
  display: block;
  text-align: center;
  width: 100%;
  color: #F6B26B;
  font-weight: bold;
  font-size: 30px;
  margin-top: 30px;
  padding-bottom: 20px;
}

.telephone,
.email {
  width: 25%;
  margin: auto;
}

.telephone a,
.email a {
  display: inline-block;
  text-align: center;
  width: 80%;
  color: #fff;
  font-size: 20px; 
  padding: 15px 0 15px 0;
}

.footer img {
  height: 30px;
  width: 30px;
  padding-right: 5px;
  vertical-align: middle;
}
.footer a:hover {
  text-decoration: underline;
}

.email {
  padding-bottom: 50px;
}


